* {
    box-sizing: border-box;
}
body {
    font-family: Tahoma, Geneva, sans-serif;
    height: 100vh; 
    margin: 0;
    background-color: lightgrey;
}
.topHead {
    grid-area: header;
    background-color: aliceblue;
    min-height: 25vh;
}
.navwrap {
    grid-area: nav;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    /* gap: 25 px;
    grid-template-areas: 
    "innerNav"
    "searchFields"; */
}
.mainCon {
    grid-area: content;
    background-color:lightslategrey;
    min-height: 65vh;
}
.nearLoc {
    grid-area: aside;
    background-color: azure;
}
.footer {
    grid-area: footer;
    background-color: cadetblue;
    min-height: 10vh;
}
.wrapper {
    display: grid;
    gap: 10px;
    background-color: lightgray;
    grid-template-areas: 
    "header"
    "nav"
    "content"
    "aside"
    "footer";
}
.innerNav {
    /* grid-area: innerNav; */
    background-color: tan;
    height: 95px;
}

.stretch {
    background-color: rgb(94, 145, 145);
    height: 100%;
}
.searchFields {
    /* grid-area: searchFields; */
}
@media (min-width: 700px) {
    .wrapper {
    /* fr units will evenly divide horizontal axis */
      grid-template-columns: 1fr 5fr 1fr;
      grid-template-areas:
        "header header  header"
        "nav    content aside"
        "nav    content aside"
        "footer footer  footer"
     }
}